h {
    font-family: Calibri;
    font-size:40px;
}

#header {
    width: 1200px;
    height: 80px;
    background-color:white;
    border-bottom: 1px solid black;
}

ul {
    /* navigation-bar kommer fästas i toppen om man bläddrar ner */
    position: fixed;
    top: 0;
    width: 100%;
    
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

#Bild1{
    position: absolute;
    clip: rect(0px, 1400px, 450px, 0px);
}